@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00b894, #d2d7d3);
    background-attachment: fixed;
    background-size: cover;
    color: #000000;
}

.welcome-section {
    text-align: center;
    padding: 4em 1em;
    color: white;
    animation: fadeInUp 1.5s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 2em auto;
    max-width: 80%;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.welcome-section h1 {
    color: #000000;
    font-size: 3em;
    margin-bottom: 0.5em;
}

/* Style for the form */
form {
    max-width: 60%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1.5em;
}

label {
    font-weight: bold;
    color: #000000;
}

.form-control {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #000000;
    border-radius: 5px;
}

.btn-primary {
    font-weight: bold;
    background-color: #c0c0c0;
    color: rgb(0, 0, 0);
    padding: 0.8em 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 15px;
}

.btn-primary:hover {
    background-color: #a0a0a0;
}

#back {
    font-weight: bold;
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: #c0c0c0;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

#back:hover {
    background-color: #a0a0a0;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .welcome-section {
        padding: 3em 1em;
        max-width: 90%;
    }

    .welcome-section h1 {
        font-size: 2.5em;
    }

    form {
        max-width: 90%;
    }
}
