<!DOCTYPE html>
<html lang="pr-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Adicionar Carro</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='adicionar.css') }}"
        />
    </head>
    <body>
        {% include 'navbar.html' %}

        <div class="welcome-section">
            <h1>Adicionar Carro</h1>

            <form method="post" action="{{ url_for('adicionarCarro') }}">
                {{ form.hidden_tag() }} {{ form.csrf_token }}

                <div class="form-group">
                    {{ form.marca.label(for="marca") }} {{
                    form.marca(class="form-control", id="marca",
                    required="required") }}
                </div>

                <div class="form-group">
                    {{ form.modelo.label(for="modelo") }} {{
                    form.modelo(class="form-control", id="modelo",
                    required="required") }}
                </div>

                <div class="form-group">
                    {{ form.nome.label(for="nome") }} {{
                    form.nome(class="form-control", id="nome",
                    required="required") }}
                </div>

                <div class="form-group">
                    {{ form.ano.label(for="ano") }} {{
                    form.ano(class="form-control", id="ano",
                    required="required") }}
                </div>

                <div class="form-group">
                    {{ form.preco.label(for="preco") }} {{
                    form.preco(class="form-control", id="preco",
                    required="required") }}
                </div>

                <div class="form-group">
                    {{ form.img.label(for="img") }} {{
                    form.img(class="form-control", id="img",
                    required="required") }}
                </div>

                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>

            <a id="back" href="{{ url_for('index') }}">Voltar para a Vitrine</a>
        </div>
    </body>
</html>
