<!DOCTYPE html>
<html lang="pr-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Editar Carro</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='editar.css') }}"
        />
    </head>
    <body>
        {% include 'navbar.html' %}

        <div class="edit-car-form">
            <h1>Editar Carro</h1>

            <form
                method="post"
                action="{{ url_for('editarCarro', carro_id=carro.id) }}"
            >
                {{ form.hidden_tag() }} {{ form.csrf_token }}

                <div class="form-group">
                    {{ form.marca.label(for="marca") }} {{
                    form.marca(class="form-control", id="marca",
                    required="required", value=carro.marca) }}
                </div>

                <div class="form-group">
                    {{ form.modelo.label(for="modelo") }} {{
                    form.modelo(class="form-control", id="modelo",
                    required="required", value=carro.modelo) }}
                </div>

                <div class="form-group">
                    {{ form.nome.label(for="nome") }} {{
                    form.nome(class="form-control", id="nome",
                    required="required", value=carro.nome) }}
                </div>

                <div class="form-group">
                    {{ form.ano.label(for="ano") }} {{
                    form.ano(class="form-control", id="ano",
                    required="required", value=carro.ano) }}
                </div>

                <div class="form-group">
                    {{ form.preco.label(for="preco") }} {{
                    form.preco(class="form-control", id="preco",
                    required="required", value=carro.preco) }}
                </div>

                <div class="form-group">
                    {{ form.img.label(for="img") }} {{
                    form.img(class="form-control", id="img",
                    required="required", value=carro.img) }}
                </div>

                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>

            <a href="{{ url_for('index') }}" class="back-to-vitrine"
                >Voltar para a Vitrine</a
            >
        </div>
    </body>
</html>
